*{
    padding:0;
    margin:0;
    list-style-type:none;
    text-decoration:none;
    border-style:none;
}
html,body{
    height:100%;
    width:100%;
    font-size: 100%;
}
.wrapper{
    margin:0 auto;
    max-width:1440px;
}